<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896213779977-r6tt87qrhckd1uv1ie2c8fel426eamgi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896213779977-r6tt87qrhckd1uv1ie2c8fel426eamgi</string>
	<key>API_KEY</key>
	<string>AIzaSyAaSUR-dktq92FLu3U5wy2xC30XqMZ9Kcw</string>
	<key>GCM_SENDER_ID</key>
	<string>896213779977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sim.Locator</string>
	<key>PROJECT_ID</key>
	<string>coronatracker-4ed00</string>
	<key>STORAGE_BUCKET</key>
	<string>coronatracker-4ed00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896213779977:ios:da6435139c7de2feeadad8</string>
	<key>DATABASE_URL</key>
	<string>https://coronatracker-4ed00.firebaseio.com</string>
</dict>
</plist>